{% extends "base.html" %}
{% block title %}About | whichonebest{% endblock %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <div class="section-title mb-5">
                    <h2>About whichonebest</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-lg-6">
                <p>
                    <img src="images/big_img_1.jpg" alt="Image" class="img-fluid">
                </p>
            </div>   -->
            <div class="col-lg-6 pl-md-5">
                <p>
                    whichonebest helps its audience in finding best resources which could have
                    in online world and in making decisions easily about the choices.
                </p>
                
                <ul class="ul-check list-unstyled success mt-5">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <div class="section-title mb-5">
                    <h2>Mission</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-lg-6">
                <p>
                    <img src="images/big_img_1.jpg" alt="Image" class="img-fluid">
                </p>
            </div>   -->
            <div class="col-lg-6 pl-md-5">
                <p>
                    Our mission is to help our audience in any possible way
                    and to educate about the topic of their interest
                    on whichonebest
                </p>
                
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <div class="section-title mb-5">
                    <h2>Values</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-lg-6">
                <p>
                    <img src="images/big_img_1.jpg" alt="Image" class="img-fluid">
                </p>
            </div>   -->
            <div class="col-lg-6 pl-md-5">
                <p>
                    Our professional values are to understand its audience need and reliance.
                </p>
                <p>
                    so, whichonebest provides resources which are:
                </p>
                <ul class="ul-check list-unstyled success mt-5">
                    <li>Authentic</li>
                    <li>Purposeful</li>
                    <li>Approachable</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}