{% extends "newbase.html" %}
{% block title %}Career Path | whichonebest{% endblock %}
{% block body %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="section-title">
                    <span class="caption d-block small">Categories</span>
                    <h2>Career Path</h2>
                    <hr>
                </div>
                <div>
                    <a href="/edit/career/0" class="btn btn-outline-dark"> ADD NEW POST</a>
                    <hr>
                </div>

                {% for career in careers %}
                    
                    <div class="post-entry-2 d-flex">
                        <div class="thumbnail order-md-2" style="background-image: url({{career.img_url}})">
                        </div>
                        <div class="contents order-md-1 pl-0">
                            <h2><a href="/edit/career/{{career.sno}}">{{career.title}}</a></h2>
                            <br>
                            <a href="/delete/career/{{career.sno}}" class="btn btn-outline-dark">Delete</a>
                        </div>
                        
                    </div>

                {% endfor %}
            
            </div>
        </div>
    </div>
</div>
{% endblock %}