{% extends "base.html" %}
{% block title %}Privacy Policy | whichonebest{% endblock %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <div class="section-title mb-5">
                    <h1>Privacy Policy</h1>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                
                <h3>Last Updated: JUNE 11<sup>th</sup>, 2020</h3>
                <br>
                <p>
                    This article explains our privacy policy for the users of whichonebest.com
                </p>
                <h2>COLLECTION OF INFORMATION</h2>
                <p>
                    whichonebest hereby declares that we collect information about you 
                    which you provide to us directly like by subscribing and sign-up.
                    Also third parties may collect the information
                    about you for which whichonebest is not responsible and we have no
                    control over it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                
                <h2>THIRD PARTY INVOLVEMENT</h2>
                <p>
                    We may allow third parties to advertise or/and to promote their
                    products on our website.These websites may collect any type of information
                    from you and may use this information for targeted ads for you.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                
                <h2>RESIDENTS OF THE EUROPEAN ECONOMIC AREA</h2>
                <p>
                    If you are a resident of the European Economic Area (EEA), 
                    you have certain rights and protections under the law regarding the 
                    processing of your personal data.Under certain situation you are 
                    allowed to access this information.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                
                <h2>Use Of Information</h2>
                <p>
                    whichonebest may use this information for advertisement
                    purpose.Which may include 
                    promotional messages from our advertisers and/or subject to 
                    your interest they are allowed to sell/promote their 
                    products and/or services which are important to you.
                    Meanwhile whichonebest do not allow advertisers to 
                    disturb users with spam and
                    any such activity which is disturbing our users.
                    Users are to inform such
                    type of activity in CONTACTS by droping a message and
                    required information about the activity like 
                    date, time, product, etc which is valuable
                    in further action and to control activity.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                
                <h2>CHANGES TO THIS POLICY</h2>
                <p>
                    WHICHONEBEST may change this Policy from time to time. If we make any 
                    changes to this Policy, we will notify you by revising the date at the 
                    top of the Policy.We encourage you to review this Policy whenever you 
                    access the Services to stay informed about our information practices and 
                    the ways you can help protect your privacy.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}