{% extends "base.html" %}
{% block title %}Terms of Use | whichonebest{% endblock %}
{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-left">
                <div class="section-title mb-5">
                    <h2>Terms of Use</h2>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-6 pl-md-5">
                <h3>Last Updated: MAY 1<sup>st</sup>, 2020</h3>
                <br>
                <p>
                    PLEASE READ THESE TERMS OF USE CAREFULLY. BY ACCESSING OR USING THE 
                    SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ALL TERMS 
                    INCORPORATED BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, 
                    DO NOT ACCESS OR USE THE SERVICES.
                </p>
                <p>
                    These terms of use are applicable for the users of whichonebest.com
                    These Terms do not alter in any way. If you are using the Services on 
                    behalf of any entity, you represent and warrant that you are authorized 
                    to accept these Terms on such entity’s behalf, and that such entity 
                    will be responsible to WHICHONEBEST if you violate these Terms.
                </p>
                <p>
                    WHICHONEBEST reserves the right to change or modify these Terms, or any 
                    policy or guideline of the Services, at any time and in our sole 
                    discretion. If we make changes or modifications to these Terms, we will 
                    provide you with notice of such changes by updating the “Last Updated” 
                    date at the top of these Terms. Your continued use of the Services 
                    following the posting of changes or modifications will confirm your 
                    acceptance of such changes or modifications. Therefore, you should 
                    frequently review the Terms and applicable policies to understand the 
                    terms and conditions that apply to your use of the Services. If you do 
                    not agree to the amended terms, you must stop using the Services.
                </p>
                
                <p>
                    <ol>
                        <li>
                            <h3>Privacy Policy</h3>
                            <p>
                                Please refer to our <a href="/privacy-policy">Privacy Policy</a> for information about 
                                how WHICHONEBEST collects, uses and discloses information 
                                from our users.
                            </p>
                        </li>
                        <li>
                            <h3>Eligibility</h3>
                            <p>
                                You must be at least 18 years of age to access or use our 
                                Services. If you are accessing or using our Services on behalf 
                                of another person or entity, you represent that you are 
                                authorized to accept these Terms on that person or entity’s 
                                behalf and that the person or entity agrees to be responsible 
                                to us if you or the other person or entity violates these Terms.
                            </p>
                        </li>
                        <li>
                            <h3>Copyright</h3>
                            <p>
                                The Services and all content and other materials on the 
                                Services, including, without limitation, the WHICHONEBEST 
                                logo, and all designs, text, graphics, pictures, videos, 
                                information, data, software, sound files and other files, and 
                                the selection and arrangement thereof, 
                                are the proprietary property of 
                                WHICHONEBEST and are protected by 
                                international copyright laws.
                            </p>
                        </li>
                        <li>
                            <h3>Third Party Content And Adverisements</h3>
                            <p>
                                WHICHONEBEST may provide third party content on the Services 
                                and may provide links to web pages and content of third parties.
                                We do not control, endorse or adopt any Third Party Content and 
                                makes no representation or warranties of any kind regarding the Third 
                                Party Content, including without limitation regarding its 
                                accuracy or completeness. You acknowledge and agree that  
                                WHICHONEBEST is not responsible or liable in any manner for any 
                                Third Party Content and undertakes no responsibility to update 
                                or review any Third Party Content. Users use such Third Party 
                                Content at their own risk.
                            </p>
                            <p>
                                WHICHONEBEST may run advertisements and promotions from third 
                                parties on the Services or may otherwise provide information 
                                about or links to third-party products or services on the 
                                Services. Your business dealings or correspondence with, or 
                                participation in promotions of, such third parties, and any 
                                terms, conditions, warranties or representations associated 
                                with such dealings or promotions are solely between you and 
                                such third party.WHICHONEBEST is not responsible or liable for 
                                any loss or damage of any sort incurred as the result of such 
                                dealings or promotions or as the result of the presence of non-WHICHONEBEST 
                                advertisements or other third party information on the Services.
                            </p>
                        </li>
                        <li>
                            <h2>Modifications to the Services</h2>
                            <p>
                                WHICHONEBEST reserves the right to modify or discontinue, 
                                temporarily or permanently, the Services, or any features or 
                                portions thereof, without prior notice. You agree that WHICHONEBEST 
                                will not be liable for any modification, suspension or 
                                discontinuance of the Services, or any part thereof.
                            </p>
                        </li>
                        <li>
                            <h3>Disclaimer</h3>
                            <p>
                                WHICHONEBEST disclaims that all other warranties, express or 
                                implied, including, without limitation, implied warranties of
                                merchantability, fitness for a particular purpose, title and 
                                non-infringement as to the Services, including information 
                                content and materials contained therein.
                            </p>
                            <p>
                                WHICHONEBEST doesn't represent or warrant that the services or
                                WHICHONEBEST materials are acurate, complete, reliable, current
                                or error free.While WHICHONEBEST attempts to make your access
                                to and use of services safe, WHICHONEBEST can't and doesn't 
                                represent or warrant that the services or our servers are free 
                                of viruses or other harmful components.Therefore you are advised
                                to use software which could recognize and disinfect the viruses.
                            </p>
                            <p>
                                We don't guarantee the accuracy of any recommendations or options
                                provided through the Services.Only you are responsible for the
                                use of, or reliance on, such recommendations.
                            </p>
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}